@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Special Elite; 
}
body{
    min-width: 100%;
    overflow-x: hidden;
    background-color: #C92C0A ;
    /* background-color: #550A35; */
    text-align: center;
}
.div_content{
    display: flex;
    justify-content: space-around;
}
.q_1{
    padding: 1.2rem;
    border-radius: 5px;
    border-color: #0B3915 ;
    border-style: groove;
    background-color: #F8E60B ;
}
table,td,th{
    padding: 20px;
    border: 1px solid lightgray;
    border-collapse: collapse;
    background-color: #FAF0DD;
    
}
.para_txt{
    color:#FBFBF9 ;
    /* font-family: changa; */
    font-family: Permanent marker;
    font-size: 18px;
}
.h_style{
    color: #DEDD0A ;
}
.checkid{
    font-family: Gloria Hallelujah;
    color: #550A35;
    font-weight: 500;
}
.btn{
    background-color: #10B425;
    color: #1A1D0C;
    font-family: russo one;
    font-size: 20px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}.pho{
    margin: .5em;
}